body {
    margin: 0;
    padding: 0;
    color: #4682B4;
    font-family: Verdana;
}

p {
    text-align: center;
    font-size: 16px;
}

.price-count {
    width: 390px;
    font-size: 13px;
    margin: 50px auto;
}

.price-count input {
    width: 220px;
    height: 20px;
    padding: 5px 10px;
    border: 2px solid #4682B4;
    margin-top: 15px;
    outline: none;
}

.price-count input:first-child {
    margin-top: 0;
}

.price-count button {
    width: 244px;
    height: 30px;
    color: #ffffff;
    border: none;
    background-color: #4682B4;
    margin-top: 15px;
    cursor: pointer;
    outline: none;
}

.price-count:hover {
    transition: .7s ease;
    opacity: .8;
}